#home {
	color:white;
	overflow: hidden;
	min-height:100vh;
	position:relative;
	background:url(/static/img/overlay_background.jpg);
	background-size:cover;

	input[type="text"],input[type="password"] {
		width:100%;
		background:rgba(255,255,255,0.9);
		display:block;
		margin:10px auto;
		border-radius: 2px;
		outline: none;
		border:none;

		padding: 10px;
		font-size:21px;

		color:#424242;

		box-sizing:border-box;
		border-bottom:1px solid #DCDCDC;
	}

	.submit {
		display:block;

		color:white;
		font-size:18px;

		margin:10px auto;

		border-radius:2px;
		padding:14px;

		background:#0088BA;
		position:relative;
		cursor:pointer;
		text-align:center;
		border-bottom:2px solid #00729C;

		&:before {
			content: " ";
			background:rgba(255,255,255,0.2);
			position:absolute;
			top:0px;

			height:100%;
			left:0px;
			right:0px;

			opacity:0;

			transition:opacity 0.2s ease-in-out;
		}

		&:hover:before {
			opacity:1;
		}
	}

	header {
		text-align:center;
		margin-top:40px;
		overflow:hidden;

		h2 {
			font-weight:normal;
			font-size:35px;
			margin:5px;
		}

		h3 {
			margin:0px;
			font-weight:normal;
		}
	}

	@keyframes auth_anim {
		0% {
			transform-origin:0% 0%;
			transform:rotate3d(1,0,0,-90deg) translate3d(-50%, -50%, 0);
		}
		100% {
			transform-origin:0% 0%;
			transform:rotate3d(1,0,0,0deg) translate3d(-50%, -50%, 0);
		}
	}

	.authentication {
		color:#424242;
		width:350px;
		margin:auto;
		background:white;
		padding:30px;
		box-sizing:border-box;
		border-radius:2px;
		box-shadow:0px 1px 0px #DCDCDC;

		position:absolute;
		top:50%;
		left:50%;
		transform:translate3d(-50%, -50%, 0);

		border-bottom:1px solid #DCDCDC;

		animation-duration:0.5s;
		animation-name:auth_anim;

		h3 {
			margin-top:0px;
			text-align:center;
		}

		> a {
			display:block;
			text-align:right;
			color:#424242;
		}
	}


	.account-popup {
		position:absolute;
		top:0px;
		bottom:0px;
		left:0px;
		right:0px;
		background:rgba(255,255,255,0.2);

		opacity:1;
		transition:opacity 0.2s ease-in-out;
		height:auto;

		&.ng-hide {
			opacity:0;
			height:0px;

			> form {
				transform:translate3d(-50%, -60%, 0);
			}
		}

		> form {
			h2 {
				text-align:center;
				font-size:32px;
				margin-top:0px;
			}

			padding:50px;
			background:#424242;
			position:absolute;

			width:500px;
			border-radius:2px;

			top:50%;
			left:50%;

			transform:translate3d(-50%, -50%, 0);

			transition:transform 0.2s ease-in-out;



			> .submit, > .cancel {
				display:inline-block;
				vertical-align:top;

				width:calc(100% / 2 - 30px);

				&.cancel {
					background:#F35F5F;
				}
			}
		}

	}
}
