$light_blue:#00CBFC;
$blue:#0088BA;
$black:#424242;
$grey:#9E9E9E;
$white:#FFFFFF;

//@import url(https://fonts.googleapis.com/css?family=Lato:400,400italic,700,700italic);

@font-face {
	font-family: 'Lato';
	src: url('/static/fonts/Lato-Regular.ttf') format('truetype'); /* Legacy iOS */
}

@font-face {
	font-family: 'Lato';
	font-style:italic;
	src: url('/static/fonts/Lato-Italic.ttf') format('truetype'); /* Legacy iOS */
}

@font-face {
	font-family: 'Lato';
	font-weight:700;
	src: url('/static/fonts/Lato-Bold.ttf') format('truetype'); /* Legacy iOS */
}


body {
	font-family: 'Lato', sans-serif;
	margin: 0px;

	color:$white;
	background:$black;
}


.connected_user {
	text-align:center;
}

// main {
// 	position:relative;
// 	z-index: 420000;
//
// }
